.booking-header {
    background-color: #fff;
    box-shadow: 0px 1px 2px #ccc;
}

.booking-header a {
    text-decoration: none;
}

table td.logo-td {
    width: 95px;
}

img.header-logo {
    position: absolute;
    width: 85px;
    border-radius: 50%;
    left: 10px;
    z-index: 999;
    box-shadow: 0px 1px 2px #ccc;
    top: 0;
}

div.app-name {
    margin-left: 100px;
}

div.user-account {}

@media (max-width: 425px) {
    table td.logo-td {
        width: 80px;
    }
    table td.user-account {
        display: none;
    }
    img.header-logo {
        width: 70px;
    }
    .booking-header h1 {
        font-size: 20px;
    }
    div.app-name {
        margin-left: 90px;
    }
}

@media (max-width: 320px) {
    .booking-header h1 {
        font-size: 17px;
    }
    .halls-listing h3 {
        font-size: 17px;
    }
}

.cursor {
    cursor: pointer;
}

span.booked {
    position: absolute;
    top: 5px;
    right: 5px;
}

.mouse-hover:hover {
    border-bottom: solid 4px #0061f2;
}

.tx-11 {
    font-size: 11px;
}

.halls-listing {
    min-height: 150px!important;
    overflow: hidden;
}

.booking-item {
    width: 42px;
    height: 25px;
    line-height: 25px
}

.seats-table {
    display: block!important;
    width: 100%;
    background-color: none!important;
    overflow-x: auto!important;
    -webkit-overflow-scrolling: touch!important;
}

.seats-table input {
    width: 45px;
    height: 30px;
    text-align: center;
    font-size: 12px;
}

.seat-item {
    /* overflow: hidden; */
    /* position: relative; */
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 45px!important;
    font-size: 12px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(31, 45, 65, 0.125);
    border-radius: 0.35rem;
    cursor: pointer;
    font-weight: bolder;
    text-align: center;
}

.seat-item {
    font-weight: normal;
    background-color: #ddd;
    color: #000;
}

.seat-item:hover {
    color: #fff;
    border: solid 1px #fff;
    background-color: #569013;
}

.seats-table td.width {
    min-width: 45px;
}

.seats-table .blocked {
    background-color: crimson;
    color: white;
}

.seats-table .blocked-border {
    border: solid 2px #4cac50!important;
}

.seats-table .unavailable,
ul.legend div.unavailable {
    background-color: black;
    color: white;
}

.seats-table .unavailable:hover {
    border: none!important;
    cursor: not-allowed;
}

.seats-table .selected {
    color: #fff!important;
    background-color: #91ce4a!important;
}

ul.legend {
    padding-left: 3px;
}

ul.legend li {
    list-style-type: none;
    margin-bottom: 5px;
}

ul.legend li div {
    float: left;
    font-size: 12px;
    min-width: 20px;
    border-radius: 4px;
    border: solid 1px #fff;
    margin-right: 5px;
}

ul.legend div.selected {
    background-color: #91ce4a;
}

ul.legend div.available {
    background-color: #dddddd;
}

.selected-seats input.form-control {
    height: 30px;
    padding: 10px;
    font-size: 12px;
    border-radius: 0px;
}

.hidden {
    display: none;
}