.booking-header {
    background-color: #fff;
    box-shadow: 0px 1px 2px #ccc;
}

.booking-header a {
    text-decoration: none;
}

table td.logo-td {
    width: 95px;
}

img.header-logo {
    position: absolute;
    width: 85px;
    border-radius: 50%;
    left: 10px;
    top: 0;
}

@media (max-width: 425px) {
    table td.logo-td {
        width: 80px;
    }
    table td.user-account {
        display: none;
    }
    img.header-logo {
        width: 70px;
    }
    .booking-header h1 {
        font-size: 20px;
    }
}

@media (max-width: 320px) {
    .booking-header h1 {
        font-size: 17px;
    }
    .halls-listing h3 {
        font-size: 17px;
    }
}

.cursor {
    cursor: pointer;
}

span.booked {
    position: absolute;
    top: 5px;
    right: 5px;
}

.mouse-hover:hover {
    border-bottom: solid 4px #0061f2;
}

.halls-listing {
    min-height: 150px!important;
    overflow: hidden;
}