.close-notice {
    position: absolute;
    right: 13px;
    top: 5px;
    cursor: pointer;
}

.select2-container,
.selectpicker {
    height: 45px!important;
    /* line-height: 30px; */
}

.hidden {
    display: none!important;
}

.required {
    color: crimson;
}

.seat-item {
    /* overflow: hidden; */
    /* position: relative; */
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 45px!important;
    font-size: 12px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(31, 45, 65, 0.125);
    border-radius: 0.35rem;
    cursor: pointer;
    font-weight: bolder;
    text-align: center;
}

.seat-item:hover {
    /* font-weight: bolder; */
    background-color: #ddd;
    color: #fff;
}

.selected {
    color: #fff;
    background-color: #569013;
}

i .seats-table {
    display: block!important;
    width: 100%;
    overflow-x: auto!important;
    -webkit-overflow-scrolling: touch!important;
}

.seats-table input {
    width: 45px;
    height: 30px;
    text-align: center;
    font-size: 12px;
}

.seats-table td.width {
    min-width: 45px;
}

.seats-table .blocked {
    background-color: crimson;
    color: white;
}

.seats-table .blocked-border {
    border: solid 2px #4cac50!important;
}

.slim-scroll {
    background: #fff;
}

.slim-scroll::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #b4b4b4;
}

.slim-scroll::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background-color: #0061f2;
}

.slim-scroll::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #0061f2;
}

.hidden {
    display: none;
}

.form-content-loader {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.85);
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
}

.form-content-loader .offline-content {
    width: 100%;
    font-size: 17px;
    font-weight: bolder;
}

.form-content-loader i.fa {
    display: block !important;
    margin: auto !important;
}

.custom-checkbox {
    background-color: #fff;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, .07);
    font-family: Arial, sans-serif;
    color: #373e43;
    outline: 0;
    padding: 8px 12px;
    line-height: normal;
    font-size: 14px;
    vertical-align: middle;
    min-height: 18px;
    width: 25px;
}

.cursor {
    cursor: pointer;
}

img.curve {
    border-radius: 50%;
}

.border {
    border-radius: 8px;
}


/* CHat Style */

.chat-box-right {
    height: 580px;
}

.chat-box-right .chat-header {
    height: 75px;
}

.chat-box-right .chat-body {
    height: 340px;
}

.chat-box-right .chat-footer {
    padding: 5px;
}

.chat-box-left {
    height: 580px;
}

.chat-box-left .chat-list {
    height: 460px !important;
}

.chat-box-left .nav-pills .nav-link.active {
    background-color: #0061f2;
    -webkit-box-shadow: -1px 10px 32px -10px rgba(94, 37, 114, 0.43);
    box-shadow: -1px 10px 32px -10px rgba(94, 37, 114, 0.43);
}

.slim-scroll {
    background: #fff;
}

.slim-scroll::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #b4b4b4;
}

.slim-scroll::-webkit-scrollbar {
    width: 8px;
    height: 7px;
    background-color: #0061f2;
}

.slim-scroll::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #0061f2;
}

.chat-box-right .chat-body .chat-detail {
    min-height: 0px;
    height: 310px!important;
    overflow-y: auto;
    border: dashed #ccc 1px;
}

.chat-box-right .chat-body .chat-detail .media .media-body .chat-msg {
    max-width: 100%!important;
}

.avatar-box .avatar-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    color: #f3f6f7;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.chat-box-left .chat-list .media .media-body {
    margin-left: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.chat-box-left .chat-list .media .media-body a:hover {
    text-decoration: none;
}

.chat-box-left .chat-list .media .media-left {
    position: relative;
}

.thumb-md {
    height: 48px;
    width: 48px;
    font-size: 14px;
    font-weight: 700;
}

.chat-box-right .chat-body .chat-detail .media .media-body .chat-msg {
    max-width: 80%;
    margin-bottom: 5px;
}

.chat-box-left .chat-list .media .media-body>div:last-child span:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #1ecab8;
    color: #ffffff;
    border-radius: 50%;
    font-size: 10px;
    width: 18px;
    height: 18px;
    margin-top: 8px;
}

.chat-box-left .chat-list .media {
    padding: 10px;
    border-radius: 4px;
}

.chat-box-left .chat-list .media:hover,
.chat-box-left .chat-list .media:focus {
    background-color: rgba(239, 242, 249, 0.5);
}

.upload-area {
    width: 100%;
    height: 100px;
    border: 1px dashed lightgray;
    border-radius: 3px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    overflow: auto;
    cursor: pointer;
}

.mt-n15,
.my-n15 {
    margin-top: -10rem !important;
}

.trix-slim-scroll::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: #b4b4b4;
}

.trix-slim-scroll::-webkit-scrollbar {
    width: 4px;
    height: 5px;
    background-color: #919599;
}

.trix-slim-scroll::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #919599;
}

.ajax-data-form trix-editor {
    min-height: 150px;
    max-height: 230px;
}

.leave-comment-wrapper trix-editor {
    min-height: 120px;
    max-height: 150px;
}